@charset "utf-8";
.slides{width:100%;height:450px;position:relative;overflow:hidden;}
.slideInner{height:450px;position:relative;left:0;margin-left:0;}
.slideInner a{display:block;height:450px;background-size:cover;background-position:center center;position:relative;text-align:center;z-index:1;}
.slideInner a div.img1{width:1070px;position:absolute;left:50%;margin-left:-535px;}

.slideInner a div.img2{width:500px;position:absolute;top:0;left:50%;}
.slideInner a div.p1{width:500px;position:absolute;top:60px;right:50%;}
.slideInner a div.p2{width:500px;position:absolute;top:180px;right:50%;}
.slideInner a div.p3{width:500px;position:absolute;top:260px;right:50%;}

.slideInner a div.p1 p{height: 50px;text-align: left;font: 36px "黑体";}
.slideInner a div.p2 span{display: block;width: 500px;height: 30px;text-align: left;font: 18px "黑体";top: 160px}
.slideInner a div.p3 b{display: block;width: 150px;height: 20px;padding:15px 0;font: 20px "黑体";background: #199fd6;color: #FFFFFF;margin-top: 20px}

.slides .nav{width:1200px;position:relative;left:50%;margin-left:-600px;display:none;}
.slides .nav a{display:block;width:41px;height:119px;opacity:.2;z-index:9;}
.slides .nav a.prev{position:absolute;left:0;top:-225px;margin-top:-58px;background:url(/lzyy/libs/images/ban_pre.png) no-repeat;}
.slides .nav a.next{position:absolute;right:0;top:-225px;margin-top:-58px;background:url(/lzyy/libs/images/ban_next.png) no-repeat;}
.navListBox{position:absolute;left:50%;top:425px;z-index:99;}
.navListBox li{width:12px;height:12px;float:left;margin-left:5px;border-radius:50%;overflow:hidden;}
.navListBox li:first-child{margin-left:0;}
.navListBox li a{display:block;width:100%;height:100%;border-radius:50%;background-color:#fff;box-shadow:0 0 5px #666 inset;}
.navListBox li a.active{background-color:#55ddff;}
